<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KrausRGA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <applicationSettings>
    <KrausRGA.Properties.Settings>
      <setting name="CameraNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GetServicePath" serializeAs="String">
        <value>http://192.168.1.16/warehouse%20services/KrausWarehouseServices.Service.RMA.Get.svc/SOA</value>
      </setting>
      <setting name="SetServicePath" serializeAs="String">
        <value>http://192.168.1.16/warehouse%20services/KrausWarehouseServices.Service.RMA.Save.svc/SOA</value>
      </setting>
      <setting name="DrivePath" serializeAs="String">
        <value>C:\Images</value>
      </setting>
      <setting name="UserNameForImagesLogin" serializeAs="String">
        <value>shiva5</value>
      </setting>
      <setting name="UserPasswordForImages" serializeAs="String">
        <value>avishiva</value>
      </setting>
    </KrausRGA.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISave" allowCookies="true" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IGet" allowCookies="true" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.16/Warehouse Services/KrausWarehouseServices.Service.RMA.Save.svc/SOA"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISave"
        contract="SaveRMAServiceRefer.ISave" name="BasicHttpBinding_ISave" />
      <endpoint address="http://192.168.1.16/Warehouse Services/KrausWarehouseServices.Service.RMA.Get.svc/SOA"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGet"
        contract="GetRMAServiceRef.IGet" name="BasicHttpBinding_IGet" />
    </client>
  </system.serviceModel>
</configuration>